* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
 
}

#mainBox {
    color: white;
}

#link {
    position: relative;
    font-size: medium;
}

#link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #f5bb2a;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}
body{
    background-color: #EFF2F1;
}
#link:hover:after {
    width: 100%;
    left: 0;
    background: #f9bf29;
}

#link:focus:after{
    width: 100%;
    left: 0;
    color: #EFF2F1;
    background: #f9bf29;
}

#product{
    padding-bottom: 20px;
    
}

#hidden-bg {
    border-radius: 15px;
    width: 100%;
    height: 0px;
    z-index: -1;
    transition: all .3s ease;
}

#product:hover #hidden-bg{
    height: 350px;

}
#product #product_image{
    height: 250px;
    transition: all .3s ease;
}
#product:hover #product_image{
    transform: scale(1.1);
}

#whychoose p{
    font-size: medium;
}